.cart-item {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px 0px;
    border: 2px solid blueviolet;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.cart-item p {
    flex-grow: 1;
    font-weight: 700;
}

.cart-item button {
    font-weight: 700;
    font-size: 18px;
    color: red;
}