.links {
    padding: 20px 0px;
    background-color: blueviolet;
}

.links a {
    color: white;
    padding: 20px;
    font-weight: 700;
    text-decoration: none;
}

.links a:hover {
    background-color:blue;
    padding: 20px;
}