.nav-bar {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* padding: 20px 0px; */
    background-color: blueviolet;
}

.nav-logo {
    font-size: 25px;
}

.nav-logo a {
    color: white;
    text-decoration: none;
    padding: 25px;
}

.nav-links a {
    color: white;
    font-size: 18px;
    padding: 25px;
    font-weight: 700;
    text-decoration: none;
}

.nav-links a:hover {
    background-color:blue;
    padding: 25px;
}